@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
    --cor0: #3067D1;
    --cor1: #0217FA;
    --cor2: #3E437A;
    --cor3: #363850;
    --cor4: #16161B;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bree Serif", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right,var(--cor0), var(--cor3));
    font-family: var(--fonte-destaque);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    
    min-width: 300px;
    min-height: 100px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 10px;
    text-shadow: 2px 2px 12px rgba(255, 255, 255, 0.623);
}

header > h3 {
    color: white;
    font-family: var(--fonte-padrao);
    position: absolute;
    top: 105px;
    right: 30px;
}

header > h3 > a > span {
    background-color: red;
    color: black;
    width: 35px;
    height: 25px;
    border-radius: 5px;
    
}

nav {
    display: flex;
    flex-flow: row nowrap;

    background-color: var(--cor4);
    padding: 5px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.267);
}

nav > a {
    flex: auto;
    color: white;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.5s;

}

nav > a:hover {
    background-color: var(--cor0);
    color: white;
    text-align: center;
    padding: 4px;
}

main {
    min-width: 300px;
    
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
}

.search {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 0.2%;

}

div.search > input[type=search]{
    width: 250px;
    height: 31px;
    font-size: 1.2em;
    font-family: var(--fonte-destaque);
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--cor4);
}

button {
    background-color: white;
    color: var(--cor4);
    width: 30px;
    height: 31px;
    border-radius: 5px;
    border: 1px solid var(--cor4);
}

main > h2 {
    color: black;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

div#tab {
    overflow-x: auto;
}


main > div#tab > table.tabela,th, tr, td {
    background-color: rgba(0, 0, 0, 0.274);
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    margin: 0 auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.567);
}

a.ed > span {
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

a.del > span {
    background-color: red;
    color: #16161B;
    padding: 2px;
    border-radius: 5px;
}

footer {
    background-color: var(--cor1);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}