<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto cadastrado</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/cadastrook.css">
</head>
<body>
    <header>
        <h1>Projeto Web</h1>
    </header>
    <nav>
        <a href="#">Home</a>
        <a href="#">Informações</a>
        <a href="#">Dúvidas</a>
        <a href="../php/cadastro.php">Cadastrar produtos</a>
    </nav>
    <main>
        <div class="campo">
            <fieldset>
                <h2>Produto cadastrado com sucesso<span class='material-symbols-outlined'>preliminary</span></h2>
                <a href="#">Comprovante de cadastro
                    <span class='material-symbols-outlined'>description</span>
                </a>
                <p><a href="../php/produtos.php">Voltar ao inicio</a></p>

            </fieldset>
        </div>
    </main>
</body>
</html>