<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/1style.css">
    <link rel="stylesheet" href="../css/media-query.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Projeto Web</h1>
    </header>
    <main>
        <section id="login">
            <div id="formulario">
                <h2>Seu Login</h2>
                <p>Bem-vindo(a), efetue seu login para acessar a lista de produtos disponíveis.</p>
                
                <form action="../phpconfig/testLogin.php" method="POST">
                    <div class="campo">
                        <span class="material-icons">person</span>
                        <input type="email" name="email" placeholder="exemplo@empresa.com" autocomplete="email" required maxlength="30">
                        <label for="email">Login</label>
                    </div>
                    <div class="campo">
                        <span class="material-icons">vpn_key</span>
                        <input type="password" name="senha" placeholder="Digite sua senha" required minlength="8" maxlength="12">
                        <label for="senha">Senha</label>
                    </div>
                    <input type="submit" name="submit" value="Entrar">
                    <a href="esqueci.html" class="botao">Esqueci a senha
                        <span class="material-icons">mail</span>
                    </a>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <p>Site criado por Matheus Barbosa</p>
    </footer>
</body>
</html>